@media screen and (min-width: 768px) and (max-width: 991px) {
    /*768--------- HEADER START ---------991*/
    nav { padding: 0 5%; }

    #section-header { flex-direction: column-reverse; }

    #section-header-1 div { text-align: center; }
    /*768--------- HEADER END -----------991*/
    /*768--------- MAIN START -----------991*/
    main { flex-direction: column; }

    #section-1-2 { padding: 30px; }

    .section-1-card { flex: 50%; }

    #section-2-2 { padding: 0 30px; }

    input[id^="slide-dot"] { display: none; }

    .section-2-card { flex: 50%; }
    /*768--------- MAIN END -------------991*/
    /*768--------- FOOTER START ---------991*/
    #section-footer { width: 740px; }

    #section-footer-2 { flex-wrap: nowrap; }
    /*768--------- FOOTER END -----------991*/
}